* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e3e4e6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}

.container {
    height: 70vh;
    width: 50vh;
    margin: auto;
    background: #f6f5fa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 80%;
    overflow: auto;
    position: relative;
    bottom: 90px;
    left: 40px;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    position: relative;
    bottom: 30px;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 0.8em;
    color: #A7A2A9;
    font-weight: 600;
}

.temperature-description {
    position: relative;
    bottom: 10px;
    letter-spacing: 2px;
    font-size: 1.2em;
}
